body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,textarea,select,li,img,i,span{ 
	margin:0; 
	padding:0; 
	list-style:none;
}
h1,h2,h3,h4,h5,b,i,span,p{
	font-size:0.14rem;
	font-weight:normal;
}
input{
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}
img{ 
	border:0; 
}
html,body{
font-family: Hiragino Sans GB, Arial, Helvetica, "\5B8B\4F53", sans-serif;
background: #fff;
color:#333;
overflow-x:hidden;
width:100%;
}
a{ 
	color: #999999; 
	text-decoration: none; 
	font-size: 14px; 
}
.clearfix{ *zoom: 1; }
.clearfix:after{
	content: " ";
	display:block;
	clear: both;
	visibility: hidden;
}
